# Registries
registry      = https://registry.npmjs.org/
@jsr:registry = https://npm.jsr.io

# General
progress            = true
init-type           = module
init-license        = MIT
init-author-name    = reanimatedmanx
init-author-email   = mail@rmx.codes
init-author-url     = https://rmx.codes
msvs_version        = 2022